<div class="col-xs-12">&nbsp;</div>
<div class="col-xs-12 col-md-6 col-md-push-3">
    <h3>Press the red Button!</h3>
    <a asp-controller="Home" asp-action="Overflow" class="btn btn-default btn-danger">Create a StackOverflowException</a>
</div>